@page
@model WebApp.Pages.Notesheets.CreateModel

@{
    ViewData["Title"] = "Create";
}
<div class="container">
    <h1>Create Contract Proposal</h1>
    <hr />
    <div class="row">
        <div class="col-md-8">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Notesheet.IndentingDept" class="control-label required-field">Indenting Department</label>
                    @*<input asp-for="Notesheet.IndentingDept" class="form-control" />*@
                    <select asp-for="Notesheet.IndentingDept" class="form-control" asp-items="Model.IndentingDeptOptions"></select>
                    <span asp-validation-for="Notesheet.IndentingDept" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Notesheet.ReferenceNo" class="control-label required-field">Reference No.</label>
                    <input asp-for="Notesheet.ReferenceNo" class="form-control" />
                    <span asp-validation-for="Notesheet.ReferenceNo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Notesheet.PackageName" class="control-label required-field">Package Name<span class="badge badge-info ml-1" data-toggle="tooltip" data-original-title="Please indicate title of the work/procurement">i</span></label>
                    <input asp-for="Notesheet.PackageName" class="form-control" />
                    <span asp-validation-for="Notesheet.PackageName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Notesheet.Type" class="control-label required-field">Type of Contract</label>
                    @*<input asp-for="Notesheet.Type" class="form-control" />*@
                    <select asp-for="Notesheet.Type" class="form-control" asp-items="Model.TypeOptions"></select>
                    <span asp-validation-for="Notesheet.Type" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Notesheet.Description" class="control-label required-field">Brief description of work/item to be procured<span class="badge badge-info ml-1" data-toggle="tooltip" data-original-title="Please indicate the background/history regarding the work to be executed/item to be procured/service to be availed. Also, briefly indicate the reasons necessitating requirement of said work/procurement of items/services now. Attach copies of previous L.O.A./P.O., if relevant with the case">i</span></label>
                    @*<input asp-for="Notesheet.Description" class="form-control" />*@
                    <textarea asp-for="Notesheet.Description" class="form-control" rows="3" cols="60"></textarea>
                    <span asp-validation-for="Notesheet.Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Notesheet.ScopeOfWork" class="control-label required-field">Scope of Works for Supply/SITC/Works/AMC<span class="badge badge-info ml-1" data-toggle="tooltip" data-original-title="Please attach the detailed Scope of works covered under the package">i</span></label>
                    @*<input asp-for="Notesheet.ScopeOfWork" class="form-control" />*@
                    <textarea asp-for="Notesheet.ScopeOfWork" class="form-control" rows="3" cols="50"></textarea>
                    <span asp-validation-for="Notesheet.ScopeOfWork" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Notesheet.Technical_Specification" class="control-label">Technical Specification/Golden Parameters(For Gem Only)<span class="badge badge-info ml-1" data-toggle="tooltip" data-original-title="Please attach the detailed Technical Specifications of the works to be executed/item to be procured">i</span></label>
                    @*<input asp-for="Notesheet.Technical_Specification" class="form-control" />*@
                    <textarea asp-for="Notesheet.Technical_Specification" class="form-control" rows="3" cols="50"></textarea>
                    <span asp-validation-for="Notesheet.Technical_Specification" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Notesheet.EstimatedCost" class="control-label required-field">Estimated Cost (Inclusive of G.S.T.) (₹)</label>
                    <input asp-for="Notesheet.EstimatedCost" class="form-control" />
                    <span asp-validation-for="Notesheet.EstimatedCost" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Notesheet.BudgetOfferReference" class="control-label">Budgetary Offer Reference No.</label>
                    <input asp-for="Notesheet.BudgetOfferReference" class="form-control" />
                    <span asp-validation-for="Notesheet.EstimatedCost" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Notesheet.BudgetOfferDate" class="control-label">Budgetary Offer Date</label>
                    <input type="date" asp-for="Notesheet.BudgetOfferDate" class="form-control" />
                    @*<input asp-for="Notesheet.BudgetOfferDate" class="form-control" />*@
                    <span asp-validation-for="Notesheet.BudgetOfferDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Notesheet.BudgetOfferValidity" class="control-label">Budgetary Offer Validity</label>
                    <input asp-for="Notesheet.BudgetOfferValidity" class="form-control" />
                    <span asp-validation-for="Notesheet.BudgetOfferValidity" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Notesheet.BudgetOfferAddress" class="control-label">Name/Address of agency who submitted Budgetary Offer</label>
                    <input asp-for="Notesheet.BudgetOfferAddress" class="form-control" />
                    <span asp-validation-for="Notesheet.BudgetOfferAddress" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Notesheet.BillOfQuantity" class="control-label required-field">Bill of Quantities without Price<span class="badge badge-info ml-1" data-toggle="tooltip" data-original-title="Please attach the detailed Bill of Quantities indicating Sl. No., Description of item, Quantity, unit etc. for tendering purpose">i</span></label>
                    <input asp-for="Notesheet.BillOfQuantity" class="form-control" />
                    <span asp-validation-for="Notesheet.BillOfQuantity" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Notesheet.Guarantee_Warranty" class="control-label required-field">Guarantee/Warranty(In Months)<span class="badge badge-info ml-1" data-toggle="tooltip" data-original-title="Please indicate details of Guarantee/Warranty aspects of the works/supplies, if applicable in the case">i</span></label>
                    <input asp-for="Notesheet.Guarantee_Warranty" class="form-control" />
                    <span asp-validation-for="Notesheet.Guarantee_Warranty" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Notesheet.Payment_Terms_CPG" class="control-label required-field">Payment terms</label>
                    <input asp-for="Notesheet.Payment_Terms_CPG" class="form-control" />
                    <span asp-validation-for="Notesheet.Payment_Terms_CPG" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Notesheet.CPG" class="control-label required-field">CPG</label>
                    <input asp-for="Notesheet.CPG" class="form-control" />
                    <span asp-validation-for="Notesheet.CPG" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Notesheet.ModeOfTerm" class="control-label required-field">Mode of Tender preferred</label>
                    @*<input asp-for="Notesheet.ModeOfTerm" class="form-control" />*@
                    <select asp-for="Notesheet.ModeOfTerm" class="form-control" asp-items="Model.ModeOfTender" onchange="displayChanges()"></select>
                    <span asp-validation-for="Notesheet.ModeOfTerm" class="text-danger"></span>
                </div>
                <div name="types_of_bidding_preferred" id="types_of_bidding_preferred">
                    <label asp-for="Notesheet.TypeOfBidding" class="control-label">Type of Bidding process preferred</label>
                    @*<input asp-for="Notesheet.TypeOfBidding" class="form-control" />*@
                    <select asp-for="Notesheet.TypeOfBidding" class="form-control" asp-items="Model.TypeOfBiddingOptions"></select>
                    <span asp-validation-for="Notesheet.TypeOfBidding" class="text-danger"></span>
                </div>
                <div name="hidden-panel" id="hidden-panel">
                    <div class="form-group">
                        <label asp-for="Notesheet.ListOfParties" class="control-label required-field">List of Parties<span class="badge badge-info ml-1" data-toggle="tooltip" data-original-title="Please attach the list of prospective agencies who can supply the items/undertake the works covered under said proposed contract (Applicable in case of Limited Tender Enquiries only)">i</span></label>
                        <input asp-for="Notesheet.ListOfParties" class="form-control" />
                        <span asp-validation-for="Notesheet.ListOfParties" class="text-danger"></span>
                    </div>
                </div>
                <div name="gem_non_avail_cert_hidden" id="gem_non_avail_cert_hidden">
                    <div class="form-group">
                        <label asp-for="Notesheet.GeMNonAvailabilityCertificate" class="control-label required-field">GeM Non-Availability Certificate<span class="badge badge-info ml-1" data-toggle="tooltip" data-original-title="Please attach Non-availability Certificate generated from GeM portal, in case the mode of procurement preferred is not through GeM portal">i</span></label>
                        <input asp-for="Notesheet.GeMNonAvailabilityCertificate" class="form-control" />
                        <span asp-validation-for="Notesheet.GeMNonAvailabilityCertificate" class="text-danger"></span>
                    </div>
                </div>
                <div name="reason_for_preffered_mode_hidden" id="reason_for_preffered_mode_hidden">
                    <div class="form-group">
                        <label asp-for="Notesheet.ReasonsForModeOfTender" class="control-label required-field">Reasons for opting Preferred mode of tender</label>
                        <input asp-for="Notesheet.ReasonsForModeOfTender" class="form-control" />
                        <span asp-validation-for="Notesheet.ReasonsForModeOfTender" class="text-danger"></span>
                    </div>
                </div>
                <div name="proprietary_article_certificate_hidden" id="proprietary_article_certificate_hidden">
                    <div class="form-group">
                        <label asp-for="Notesheet.ProprietaryArticleCertificate" class="control-label required-field">Proprietary Article Certificate<span class="badge badge-info ml-1" data-toggle="tooltip" data-original-title="In case, preferred mode of tendering is Single Tender under PAC basis, duly approved Proprietary Article Certificate may be attached. PAC approving authority: Upto Rs.1 Lakh: Not below DGM level; Above Rs.1 Lakh: Not below GM level">i</span></label>
                        <input asp-for="Notesheet.ProprietaryArticleCertificate" class="form-control" />
                        <span asp-validation-for="Notesheet.ProprietaryArticleCertificate" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Notesheet.WorkCompletionSchedule" class="control-label">Work Completion Schedule/Delivery time schedule<span class="badge badge-info ml-1" data-toggle="tooltip" data-original-title="Approximate time schedule within which the works / supplies to be completed. In case, staggered delivery is preferred, please indicate whether delivery should be on weekly/fortnightly/monthly/quarterly basis and percentage requirement of quantities in those time period">i</span></label>
                    <input asp-for="Notesheet.WorkCompletionSchedule" class="form-control" />
                    <span asp-validation-for="Notesheet.WorkCompletionSchedule" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Notesheet.SpecialConditionsOfContract" class="control-label">Special Conditions of Contract<span class="badge badge-info ml-1" data-toggle="tooltip" data-original-title="Please indicate the Special Conditions of Contract, if any, relevant with the case">i</span></label>
                    <input asp-for="Notesheet.SpecialConditionsOfContract" class="form-control" />
                    <span asp-validation-for="Notesheet.SpecialConditionsOfContract" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Notesheet.OtherPointsRelevantWithCase" class="control-label">Any other points relevant with the case</label>
                    <input asp-for="Notesheet.OtherPointsRelevantWithCase" class="form-control" />
                    <span asp-validation-for="Notesheet.OtherPointsRelevantWithCase" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Notesheet.BudgetProvision" class="control-label required-field">
                        Budget Provision<a href="~/assets/guides/capex_file.pdf" target="_blank" class="ml-1 badge badge-info">i</a>
                    </label>
                    <select asp-for="Notesheet.BudgetProvision" class="form-control" asp-items="Model.BudgetProvisionOptions"></select>
                    <span asp-validation-for="Notesheet.BudgetProvision" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Notesheet.BPSerialNo" class="control-label required-field">Budget Provision Serial No.</label>
                    <input asp-for="Notesheet.BPSerialNo" class="form-control" />
                    <span asp-validation-for="Notesheet.BPSerialNo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Notesheet.BPUnderHead" class="control-label required-field">Budget Provision Head</label>
                    <input asp-for="Notesheet.BPUnderHead" class="form-control" />
                    <span asp-validation-for="Notesheet.BPUnderHead" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Notesheet.ProposalOptions" class="control-label">Proposals for which Approval sought<span class="badge badge-info ml-1" data-toggle="tooltip" data-original-title="Please clearly indicate the various approvals sought from Competent Authority">i</span></label>
                    @*<input asp-for="Notesheet.ProposalOptions" class="form-control" />*@
                    <select asp-for="ProposalOptions" asp-items="Model.ProposalForApprovalOptions" class="form-control chosen-select" onchange="showHideProposalForApprovalOthersOption()"></select>
                    <span asp-validation-for="Notesheet.ProposalOptions" class="text-danger"></span>
                </div>
                <div name="proposal_for_approval_others_Option_hidden" id="proposal_for_approval_others_Option_hidden">
                    <div class="form-group">
                        <label asp-for="Notesheet.ProposalForApprovalOthersOption" class="control-label">Other Option</label>
                        <input asp-for="Notesheet.ProposalForApprovalOthersOption" class="form-control" />
                        <span asp-validation-for="Notesheet.ProposalForApprovalOthersOption" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Notesheet.DopSection" class="control-label required-field">DOP Section No.</label>
                    <input asp-for="Notesheet.DopSection" class="form-control" />
                    <span asp-validation-for="Notesheet.DopSection" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Notesheet.DopClause" class="control-label required-field">DOP Clause No.</label>
                    <input asp-for="Notesheet.DopClause" class="form-control" />
                    <span asp-validation-for="Notesheet.DopClause" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Notesheet.ApprovingAuthority" class="control-label required-field">Competent Authority for granting approval<span class="badge badge-info ml-1" data-toggle="tooltip" data-original-title="Please indicate the authority competent to approve the said proposal">i</span></label>
                    <input asp-for="Notesheet.ApprovingAuthority" class="form-control" />
                    <span asp-validation-for="Notesheet.ApprovingAuthority" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create Proposal" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-page="Index" class="btn btn-primary">Back to List</a>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    @*<script src="~/js/multiSelect/multiSelect.js"></script>*@
    <style>
        .tooltip-inner {
            max-width: 80% !important;
        }
        label.control-label {
            color: saddlebrown;
            font-weight: 400;
        }
        .required-field::after {
            content: "*";
            color: red;
            font-size: 21px;
            font-weight: 900;
        }
    </style>
    <script>
        $(document).ready(function () {
            //$('[data-toggle="popover"]').popover();
            $('[data-toggle="tooltip"]').tooltip({
                placement: 'top'
            });
            displayChanges();
            document.getElementById('proposal_for_approval_others_Option_hidden').style.display = 'None';
        });
    </script>

    <script>
        function displayChanges() {
            showHideListOfParties();
            showHideGemNonAvailCert();
            showHideReasonsForPreferredMode();
            showHideProprietaryArticleCertificate();
            //showTypeOfBidding();
            getBiddingType();
        }
        function showHideListOfParties() {
            var travelhistory = document.getElementById('Notesheet_ModeOfTerm')
            if (travelhistory.value == "Limited Tender (Paper based)") {
                document.getElementById('hidden-panel').style.display = 'block';

            }
            else if (travelhistory.value == "CPP Portal LTE") {
                document.getElementById('hidden-panel').style.display = 'block';
            }
            else {
                document.getElementById('hidden-panel').style.display = 'None';

            }
        }
        function showHideGemNonAvailCert() {
            var travelhistory = document.getElementById('Notesheet_ModeOfTerm');
            if (travelhistory.value == "GeM Direct Purchase" || travelhistory.value == "GeM L-1 Purchase" ||
                travelhistory.value == "GeM Bidding" || travelhistory.value == "GeM BOQ based bidding" || travelhistory.value == "GeM PAC Bidding" || travelhistory.value == "GeM Customized Bid") {
                document.getElementById('gem_non_avail_cert_hidden').style.display = 'None';

            } else {
                document.getElementById('gem_non_avail_cert_hidden').style.display = 'block';

            }
        }
        function showHideReasonsForPreferredMode() {
            var travelhistory = document.getElementById('Notesheet_ModeOfTerm');
            if (travelhistory.value == "Limited Tender (Paper based)" || travelhistory.value == "Single tender on ground of urgency" || travelhistory.value == "Single Tender PAC based" ||
                travelhistory.value == "Single tender on grounds of other than Urgency & PAC" || travelhistory.value == "Market Survey through Spot enquiry" ||
                travelhistory.value == "CPP Portal LTE" || travelhistory.value == "GeM Direct Purchase" || travelhistory.value == "GeM L-1 Purchase" || travelhistory.value == "GeM PAC bidding") {
                document.getElementById('reason_for_preffered_mode_hidden').style.display = 'block';

            } else {
                document.getElementById('reason_for_preffered_mode_hidden').style.display = 'None';
            }
        }
        function showHideProprietaryArticleCertificate() {
            var travelhistory = document.getElementById('Notesheet_ModeOfTerm');
            if (travelhistory.value == "Single Tender PAC based") {
                document.getElementById('proprietary_article_certificate_hidden').style.display = 'block';

            } else {
                document.getElementById('proprietary_article_certificate_hidden').style.display = 'None';

            }
        }
        function showHideProposalForApprovalOthersOption() {
            var travelhistory = document.getElementById('ProposalOptions');
            document.getElementById('proposal_for_approval_others_Option_hidden').style.display = 'None';
            for (var i = 0; i < travelhistory.options.length; i++) {
                var option = travelhistory.options[i];
                if (option.value == "Others" && option.selected == true) {
                    document.getElementById('proposal_for_approval_others_Option_hidden').style.display = 'block';
                    break;
                }
            }
        }
        function showTypeOfBidding() {
            //alert("Types of Bidding")
            var travelhistory = document.getElementById('Notesheet_ModeOfTerm')
            if (travelhistory.value == "Single Tender" || travelhistory.value == "Single Tender PAC based") {
                document.getElementById('types_of_bidding_preferred').style.display = 'None';

            } else {
                document.getElementById('types_of_bidding_preferred').style.display = 'block';

            }
        }
        function getBiddingType() {
            var x = document.getElementById("Notesheet_ModeOfTerm").value;
            var bidding_types;
            if (x == "GeM PAC bidding" || x == "GeM Customized Bid") {
                bidding_types = ["Single Stage Two Envelope"];
            }
            else if (x == "Open Tender (Paper based)" || x == "CPP Portal Open Tender" || x == "CPP Portal Open LTE" || x == "CPP Portal LTE") {
                bidding_types = ["Single Stage Two Envelope", "Two Stage", "QCBS", "Enlistment"];
            }
            else if (x == "Limited Tender (Paper based)" || x == "Market Survey through Spot enquiry") {
                bidding_types = ["Single Stage Single Envelope"];
            }
            else if (x == "GeM Bidding" || x == "GeM BOQ based bidding") {
                bidding_types = ["Single Stage Two Envelope"];
            }
            else {
                //document.getElementById('types_of_bidding_preferred').style.display = 'None';
                bidding_types = []
            }
            //else {
            //    bidding_types = ["Single Stage Two Envelope"];
            //}

            var str = ""
            for (var item of bidding_types) {
                str += "<option>" + item + "</option>"
            }
            //var select = document.getElementById("Notesheet_TypeOfBidding");
            //for (var i = 0; i < bidding_types.length; i++) {
            //    var opt = bidding_types[i];
            //    var el = document.createElement("option");
            //    el.textContent = opt;
            //    el.value = opt;
            //    select.appendChild(el);
            //}
            document.getElementById("Notesheet_TypeOfBidding").innerHTML = str;
            //TypeOfBiddingOptions = new SelectList(str);
        }
    </script>
}
