@page
@model WebApp.Pages.Notesheets.EditModel

@{
    ViewData["Title"] = "Edit";
}
<div class="container">
    <h1>Edit Notesheet</h1>

    <hr />
    <div class="row">
        <div class="col-md-8">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Notesheet.IndentingDept" class="control-label">Indenting Department</label>
                    @*<input asp-for="Notesheet.IndentingDept" class="form-control" />*@
                    <select asp-for="Notesheet.IndentingDept" class="form-control" asp-items="Model.IndentingDeptOptions"></select>
                    <span asp-validation-for="Notesheet.IndentingDept" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Notesheet.ReferenceNo" class="control-label">Reference No.</label>
                    <input asp-for="Notesheet.ReferenceNo" class="form-control " readonly />
                    <span asp-validation-for="Notesheet.ReferenceNo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Notesheet.PackageName" class="control-label">Package Name</label>
                    <input asp-for="Notesheet.PackageName" class="form-control" />
                    <span asp-validation-for="Notesheet.PackageName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Notesheet.Type" class="control-label">Type of Contract</label>
                    @*<input asp-for="Notesheet.Type" class="form-control" />*@
                    <select asp-for="Notesheet.Type" class="form-control" asp-items="Model.TypeOptions"></select>
                    <span asp-validation-for="Notesheet.Type" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Notesheet.Description" class="control-label">Description</label>
                    @*<input asp-for="Notesheet.Description" class="form-control" />*@
                    <textarea asp-for="Notesheet.Description" class="form-control" rows="3" cols="50"></textarea>
                    <span asp-validation-for="Notesheet.Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Notesheet.ScopeOfWork" class="control-label">Scope of Works for Supply/SITC/Works/AMC</label>
                    @*<input asp-for="Notesheet.ScopeOfWork" class="form-control" />*@
                    <textarea asp-for="Notesheet.ScopeOfWork" class="form-control" rows="3" cols="50"></textarea>
                    <span asp-validation-for="Notesheet.ScopeOfWork" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Notesheet.Technical_Specification" class="control-label">Technical Specification/Golden Parameters(For Gem Only)</label>
                    @*<input asp-for="Notesheet.Technical_Specification" class="form-control" />*@
                    <textarea asp-for="Notesheet.Technical_Specification" class="form-control" rows="3" cols="50"></textarea>
                    <span asp-validation-for="Notesheet.Technical_Specification" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Notesheet.EstimatedCost" class="control-label">Estimated Cost (Inclusive of G.S.T.) (₹)</label>
                    <input asp-for="Notesheet.EstimatedCost" class="form-control" />
                    <span asp-validation-for="Notesheet.EstimatedCost" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Notesheet.BudgetOfferReference" class="control-label">Budgetary Offer Reference No.</label>
                    <input asp-for="Notesheet.BudgetOfferReference" class="form-control" />
                    <span asp-validation-for="Notesheet.BudgetOfferReference" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Notesheet.BudgetOfferDate" class="control-label">Budgetary Offer Date</label>
                    @*<input asp-for="Notesheet.BudgetOfferDate" class="form-control" />*@
                    <input type="date" asp-for="Notesheet.BudgetOfferDate" class="form-control" />
                    <span asp-validation-for="Notesheet.BudgetOfferDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Notesheet.BudgetOfferValidity" class="control-label">Budgetary Offer Validity</label>
                    <input asp-for="Notesheet.BudgetOfferValidity" class="form-control" />
                    <span asp-validation-for="Notesheet.BudgetOfferValidity" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Notesheet.BudgetOfferAddress" class="control-label">Budgetary Offer Address</label>
                    <input asp-for="Notesheet.BudgetOfferAddress" class="form-control" />
                    <span asp-validation-for="Notesheet.BudgetOfferAddress" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Notesheet.BillOfQuantity" class="control-label">Bill of Quantities without Price</label>
                    <input asp-for="Notesheet.BillOfQuantity" class="form-control" />
                    <span asp-validation-for="Notesheet.BillOfQuantity" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Notesheet.Guarantee_Warranty" class="control-label">Guarantee/Warranty(In Months)</label>
                    <input asp-for="Notesheet.Guarantee_Warranty" class="form-control" />
                    <span asp-validation-for="Notesheet.Guarantee_Warranty" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Notesheet.Payment_Terms_CPG" class="control-label">Payment terms & CPG</label>
                    <input asp-for="Notesheet.Payment_Terms_CPG" class="form-control" />
                    <span asp-validation-for="Notesheet.Payment_Terms_CPG" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Notesheet.ModeOfTerm" class="control-label">Mode of Tender preferred</label>
                    @*<input asp-for="Notesheet.ModeOfTerm" class="form-control" />*@
                    <select asp-for="Notesheet.ModeOfTerm" class="form-control" asp-items="Model.ModeOfTender" onchange="displayChanges()"></select>
                    <span asp-validation-for="Notesheet.ModeOfTerm" class="text-danger"></span>
                </div>
                <div name="types_of_bidding_preferred" id="types_of_bidding_preferred">
                    <label asp-for="Notesheet.TypeOfBidding" class="control-label">Type of Bidding process preferred</label>
                    @*<input asp-for="Notesheet.TypeOfBidding" class="form-control" />*@
                    <select asp-for="Notesheet.TypeOfBidding" class="form-control" asp-items="Model.TypeOfBiddingOptions"></select>
                    <span asp-validation-for="Notesheet.TypeOfBidding" class="text-danger"></span>
                </div>
                <div name="hidden-panel" id="hidden-panel">
                    <div class="form-group">
                        <label asp-for="Notesheet.ListOfParties" class="control-label">List of Parties</label>
                        <input asp-for="Notesheet.ListOfParties" class="form-control" />
                        <span asp-validation-for="Notesheet.ListOfParties" class="text-danger"></span>
                    </div>
                </div>
                <div name="gem_non_avail_cert_hidden" id="gem_non_avail_cert_hidden">
                    <div class="form-group">
                        <label asp-for="Notesheet.GeMNonAvailabilityCertificate" class="control-label">GeM Non-Availability Certificate</label>
                        <input asp-for="Notesheet.GeMNonAvailabilityCertificate" class="form-control" />
                        <span asp-validation-for="Notesheet.GeMNonAvailabilityCertificate" class="text-danger"></span>
                    </div>
                </div>
                <div name="reason_for_preffered_mode_hidden" id="reason_for_preffered_mode_hidden">
                    <div class="form-group">
                        <label asp-for="Notesheet.ReasonsForModeOfTender" class="control-label">Reasons for opting Preferred mode of tender</label>
                        <input asp-for="Notesheet.ReasonsForModeOfTender" class="form-control" />
                        <span asp-validation-for="Notesheet.ReasonsForModeOfTender" class="text-danger"></span>
                    </div>
                </div>
                <div name="proprietary_article_certificate_hidden" id="proprietary_article_certificate_hidden">
                    <div class="form-group">
                        <label asp-for="Notesheet.ProprietaryArticleCertificate" class="control-label">Proprietary Article Certificate</label>
                        <input asp-for="Notesheet.ProprietaryArticleCertificate" class="form-control" />
                        <span asp-validation-for="Notesheet.ProprietaryArticleCertificate" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Notesheet.WorkCompletionSchedule" class="control-label">Work Completion Schedule/Delivery time schedule</label>
                    <input asp-for="Notesheet.WorkCompletionSchedule" class="form-control" />
                    <span asp-validation-for="Notesheet.WorkCompletionSchedule" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Notesheet.SpecialConditionsOfContract" class="control-label">Special Conditions of Contract</label>
                    <input asp-for="Notesheet.SpecialConditionsOfContract" class="form-control" />
                    <span asp-validation-for="Notesheet.SpecialConditionsOfContract" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Notesheet.OtherPointsRelevantWithCase" class="control-label">Any other points relevant with the case</label>
                    <input asp-for="Notesheet.OtherPointsRelevantWithCase" class="form-control" />
                    <span asp-validation-for="Notesheet.OtherPointsRelevantWithCase" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Notesheet.BudgetProvision" class="control-label">Budget Provision</label>
                    @*<input asp-for="Notesheet.BudgetProvision" class="form-control" />*@
                    <select asp-for="Notesheet.BudgetProvision" class="form-control" asp-items="Model.BudgetProvisionOptions"></select>
                    <span asp-validation-for="Notesheet.BudgetProvision" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Notesheet.BPSerialNo" class="control-label">BPSerialNo</label>
                    <input asp-for="Notesheet.BPSerialNo" class="form-control" />
                    <span asp-validation-for="Notesheet.BPSerialNo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Notesheet.BPUnderHead" class="control-label">BP Under Head</label>
                    <input asp-for="Notesheet.BPUnderHead" class="form-control" />
                    <span asp-validation-for="Notesheet.BPUnderHead" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">ProposalForApprovals</label><br />
                    @foreach (var pAppr in Model.ProposalForApprovals)
                    {
                        <span>@pAppr.ProposalOption</span><span> | <a asp-page="/ProposalForApprovals/Delete" asp-route-id="@pAppr.Id">Delete</a></span>
                        <br />
                    }
                    <a asp-page="/ProposalForApprovals/Create" asp-route-nid="@Model.Notesheet.Id">Add Proposal For Approval</a>
                </div>
                <div class="form-group">
                    <label asp-for="Notesheet.DopClause" class="control-label">DOP Clause No.</label>
                    <input asp-for="Notesheet.DopClause" class="form-control" />
                    <span asp-validation-for="Notesheet.DopClause" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Notesheet.DopSection" class="control-label">DOP Section No.</label>
                    <input asp-for="Notesheet.DopSection" class="form-control" />
                    <span asp-validation-for="Notesheet.DopSection" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Notesheet.ApprovingAuthority" class="control-label">Approving Authority</label>
                    <input asp-for="Notesheet.ApprovingAuthority" class="form-control" />
                    <span asp-validation-for="Notesheet.ApprovingAuthority" class="text-danger"></span>
                </div>
                <input type="hidden" asp-for="Notesheet.Id" />
                <div class="form-group">
                    <input type="submit" value="Save Notesheet" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-page="./Index">Back to List</a>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <style>
        label.control-label {
            color: saddlebrown;
            font-weight: 400;
        }
    </style>
    <script>
        function displayChanges() {
            showHideListOfParties();
            showHideGemNonAvailCert();
            showHideReasonsForPreferredMode();
            showHideProprietaryArticleCertificate();
            //showTypeOfBidding();
            getBiddingType();
        }
        function showHideListOfParties() {
            var travelhistory = document.getElementById('Notesheet_ModeOfTerm')
            if (travelhistory.value == "Limited Tender (Paper based)") {
                document.getElementById('hidden-panel').style.display = 'block';
            }
            else if (travelhistory.value == "CPP Portal LTE") {
                document.getElementById('hidden-panel').style.display = 'block';
            }
            else {
                document.getElementById('hidden-panel').style.display = 'None';

            }
        }
        function showHideGemNonAvailCert() {
            var travelhistory = document.getElementById('Notesheet_ModeOfTerm')
            if (travelhistory.value == "GeM Direct Purchase" || travelhistory.value == "GeM L-1 Purchase" ||
                travelhistory.value == "GeM Bidding" || travelhistory.value == "GeM BOQ based bidding" || travelhistory.value == "GeM PAC Bidding" || travelhistory.value == "GeM Customized Bid") {
                document.getElementById('gem_non_avail_cert_hidden').style.display = 'None';

            } else {
                document.getElementById('gem_non_avail_cert_hidden').style.display = 'block';

            }
        }
        function showHideReasonsForPreferredMode() {
            var travelhistory = document.getElementById('Notesheet_ModeOfTerm')
            if (travelhistory.value == "Limited Tender (Paper based)" || travelhistory.value == "Single tender on ground of urgency" || travelhistory.value == "Single Tender PAC based" ||
                travelhistory.value == "Single tender on grounds of other than Urgency & PAC" || travelhistory.value == "Market Survey through Spot enquiry" ||
                travelhistory.value == "CPP Portal LTE" || travelhistory.value == "GeM Direct Purchase" || travelhistory.value == "GeM L-1 Purchase" || travelhistory.value == "GeM PAC bidding") {
                document.getElementById('reason_for_preffered_mode_hidden').style.display = 'block';

            } else {
                document.getElementById('reason_for_preffered_mode_hidden').style.display = 'None';

            }
        }
        function showHideProprietaryArticleCertificate() {
            var travelhistory = document.getElementById('Notesheet_ModeOfTerm')
            if (travelhistory.value == "Single Tender PAC based") {
                document.getElementById('proprietary_article_certificate_hidden').style.display = 'block';

            } else {
                document.getElementById('proprietary_article_certificate_hidden').style.display = 'None';

            }
        }
        function showTypeOfBidding() {
            //alert("Types of Bidding")
            var travelhistory = document.getElementById('Notesheet_ModeOfTerm')
            if (travelhistory.value == "Single Tender" || travelhistory.value == "Single Tender PAC based") {
                document.getElementById('types_of_bidding_preferred').style.display = 'None';

            } else {
                document.getElementById('types_of_bidding_preferred').style.display = 'block';

            }
        }
        function getBiddingType() {
            var x = document.getElementById("Notesheet_ModeOfTerm").value;
            var bidding_types;
            if (x == "GeM PAC bidding" || x == "GeM Customized Bid") {
                bidding_types = ["Single Stage Two Envelope"];
            }
            else if (x == "Open Tender (Paper based)" || x == "CPP Portal Open Tender" || x == "CPP Portal Open LTE" || x == "CPP Portal LTE") {
                bidding_types = ["Single Stage Two Envelope", "Two Stage", "QCBS", "Enlistment"];
            }
            else if (x == "Limited Tender (Paper based)" || x == "Market Survey through Spot enquiry") {
                bidding_types = ["Single Stage Single Envelope"];
            }
            else if (x == "GeM Bidding" || x == "GeM BOQ based bidding") {
                bidding_types = ["Single Stage Two Envelope"];
            }
            else {
                bidding_types = []
            }
            var str = ""
            for (var item of bidding_types) {
                str += "<option>" + item + "</option>"
            }
            document.getElementById("Notesheet_TypeOfBidding").innerHTML = str;
        }
    </script>
}
